/* footer {
    font-size: 1rem;
} */

footer .container {
    padding: 2rem 1rem;
    margin-bottom: 0;
}

.footer__content {
    margin-bottom: 2rem;
}

.footer__contact {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.footer__logo {
    display: flex;
    align-items: center;
    gap: 0.563rem;
}

.footer__logo img {
    width: 1rem;
    height: 1rem;
}

.footer__logo span {
    color: #fff;
    font-weight: var(--font-medium);
}

.footer__description {
    color: #fff;
}

.footer__description p {
    line-height: 1.4;
}

.footer__media {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.footer__media h4 {
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    font-weight: var(--font-medium);
    color: #fff;
}

.footer__media__icon {
    display: flex;
    gap: 0.688rem;
}

.footer__media__icon img {
    opacity: 0.7;
    width: 1.25rem;
    height: 1.25rem;
}

.footer__media__icon a:hover img {
    opacity: 1;
    transform: scale(1.3);
}

.copyright {
    font-size: 0.75rem;
    line-height: 0.938rem;
    text-align: center;
}

.copyright a {
    color: #fff;
}

.copyright a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 650px) {
    footer .container {
        padding-left: min(7%, 171px);
        padding-right: min(7%, 171px);
    }
}

@media screen and (min-width: 750px) {
    .footer__media {
        margin-top: 0;
    }
}
