.mb-0 {
    margin-bottom: 0;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.mb-75 {
    margin-bottom: 0.75rem;
}

.f-h4 {
    font-size: 1.5rem;
}

.text-xs {
    font-size: 0.75rem;
}

footer .container {
    padding: 2rem 1rem;
    margin-bottom: 0;
    /* @apply mb-0 px-4 py-8;
    @apply md:px-[min(7%,171px)];
    @apply lg:px-0 lg:py-4; */
}

.copyright a {
    color: #fff;
}

.copyright a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 650px) {
    footer .container {
        padding-left: min(7%, 171px);
        padding-right: min(7%, 171px);
        /* @apply px-[min(7%,171px)]; */
    }
}

@media screen and (min-width: 1024px) {
    footer .container {
        padding: 1rem 0;
    }
}
