:root {
    --bg-primary: rgba(40, 44, 51, 1);
    --bg-secondary: rgba(44, 48, 54, 1);

    --red-accent: rgba(224, 107, 116, 1);
    --blue-light: rgba(152, 195, 121, 1);
    --yellow-warm: rgba(229, 192, 122, 1);
    --blue-primary: rgba(98, 174, 239, 1);
    --purple-soft: rgba(199, 120, 221, 1);
    --cyan-accent: rgba(85, 182, 194, 1);
    --gray-soft: rgba(171, 178, 191, 1);
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
}

/**
.square-pattern {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: var(--bg-primary);
    border: 3px solid #ffffff; /* violet */
    /* border-radius: 8px; */

    /* background-image: radial-gradient(#fff 1px, transparent 1px); */
    /**background-size: 60px 60px; /* distance entre les points */
/* } */

body {
    font-family: 'Fira Code';
    color: var(--gray-soft);
    background: var(--bg-secondary);
    font-size: 1rem;
    overflow-x: hidden;
}

.mb-3 {
    margin-bottom: 3rem;
}

.dflex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.375rem;
}

.dflex img {
    vertical-align: middle;
}

.dflex a img {
    opacity: 0.7;
}

.dflex li:hover {
    color: #fff;
}

.dflex li:hover img {
    opacity: 1;
}

.container {
    max-width: 64rem;
    margin: 0 1rem;
}

.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.125rem 0 0.5rem 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: var(--font-bold);
}

.logo img {
    width: 1rem;
    height: 1rem;
}

.topbar__logo {
    color: #fff;
    z-index: 10;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    opacity: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-left: 1rem;
    background: var(--bg-primary);
    transition: height 220ms ease, opacity 180ms ease;
    will-change: height, opacity;
    min-width: none;
}

.navbar__links {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    color: var(--gray-soft);
    font-weight: var(--font-regular);
    font-size: 2rem;
    transition: height 220ms ease, opacity 180ms ease;
    will-change: height, opacity;
    padding-top: 5.4rem;
}

.navbar__link.active,
.navbar__link:hover {
    color: #fff;
}

#close__menu,
#dropup {
    display: none;
}

#dropdown,
#dropup,
.social__media__icon img {
    opacity: 0.7;
}

.sandwitch__btn {
    z-index: 5;
}

.navbar.open {
    opacity: 1;
    width: 100%;
    height: 100vh;
    z-index: 5;
    transition: 0.3s;
}

/* Désactive scroll (sera ajouté par JS) */
.no-scroll {
    overflow: hidden;
    height: 100vh;
}

.page__tile h1 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: var(--font-semibold);
    margin-bottom: 0.875rem;
}

.page__tile p {
    color: #fff;
    font-weight: var(--font-regular);
    font-size: 1rem;
}

.tag {
    color: var(--purple-soft);
}

.navbar__social__media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    left: 50%;
    bottom: 8vh;
    transform: translateX(-50%);
    z-index: 10;
    padding: 0.125rem;
}

.navbar__social__media .social__media__icon {
    display: inline-flex;
    width: 2.75rem;
    height: 2.75rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    transition: background-color 150ms ease, transform 120ms ease;
}

.social__media__icon img {
    pointer-events: none;
    transition: opacity 150ms ease;
}

.social__media__icon:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 120ms ease;
}

.social__media__icon:hover img {
    opacity: 1;
    pointer-events: none;
}

#language__selected {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

#language__selected:hover {
    cursor: pointer;
    color: #fff;
    animation: color 0.3s;
}

#language__selected:hover img {
    opacity: 1;
    animation: opacity 0.3s;
}

.language__selector__content {
    height: 0;
    opacity: 0;
    overflow-y: hidden;
    transition: max-height 220ms ease, opacity 180ms ease;
    will-change: max-height, opacity;
}

.language__selector__content.open {
    height: auto;
    max-height: 15rem;
    opacity: 1;
}

.row {
    margin-bottom: 2.938rem;
}

.last_row {
    padding-bottom: 2.938rem;
}

.btn {
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 1;
    border: 0.125rem solid var(--purple-soft);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-top: 1.5rem;
    color: #fff;
}

.btn::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--purple-soft);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    z-index: -1;
}

.btn:hover::before {
    transform: scaleX(1);
}

.disabled {
    color: inherit;
}

.hero {
    margin-top: 2.125rem;
}

.hero__content {    
    margin-bottom: 1.5rem;
}

.hero__title {
    font-size: 2.125rem;
    font-weight: var(--font-semibold);
    color: #fff;
    margin-bottom: 1.563rem;
    word-break: keep-all;
}

.hero__stack {
    color: var(--purple-soft);
}

.text__nowrap {
    white-space: nowrap;
}

.hero__description {
    color: var(--gray-soft);
    font-size: 1rem;
}

.hero__image {
    padding: 0.5rem;
}

.hero__image img {
    width: 100%;
    height: auto;
}

.hero__website__status {
    width: 100%;
    height: auto;
    border: 0.125rem solid var(--gray-soft);
    font-size: 1rem;
    font-weight: var(--font-regular);
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    line-height: 1.2;
    margin-top: -0.188rem;
}

.hero__website__status__dot {
    width: 1rem;
    height: 1rem;
    background: var(--purple-soft);
    vertical-align: middle;
}

.website__designation {
    font-size: 1rem;
    font-weight: var(--font-semibold);
    color: #fff;
}

.hero__content .btn__group {
    display: none;
}

.quotation {
    display: flex;
    flex-direction: column;
    max-width: max-content;
    margin: 0 auto;
    background: var(--bg-primary);
    margin-bottom: 3.125rem;
    font-size: 0.9rem;
    font-weight: var(--font-medium);
}

.quotation__content,
.quotation__author {
    position: relative;
    border: 1px solid var(--gray-soft);
    line-height: 1.4;
}

.quotation__content img {
    position: absolute;
    top: -0.938rem;
    left: 0.688rem;
    background: var(--bg-primary);
    padding: 0.25rem 0.5rem;
}

.quotation__author img {
    position: absolute;
    top: -0.938rem;
    right: 0.971rem;
    background: var(--bg-primary);
    padding: 0.25rem 0.5rem;
}

.quotation__content {
    padding: 1rem;
}

.quotation__author {
    align-self: flex-end;
    padding: 0.75rem;
    border-top: none;
}

.section__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 1.5rem;
    font-weight: var(--font-medium);
    color: #fff;
    margin-bottom: 2rem;
}

.section__title__text {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.section__bar {
    height: 1px;
    width: 0vw;
    background: var(--purple-soft);
}

.section__btn__more {
    font-size: 1rem;
}

.section__btn__more:hover {
    color: var(--purple-soft);
}

.section__btn__more span {
    display: none;
}

.card {
    border: 1px solid var(--gray-soft);
    padding-bottom: 1.25rem;
    margin-bottom: 1rem;    
    height: max-content;
}

.card img {
    width: 100%;
}

.card__title {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.5rem;
    border-bottom: 1px solid var(--gray-soft);
}

.card__title:first-child {
    gap: none;
}

.card__body {
    padding: 1rem;
}

.card__body__title {
    font-size: 1.5rem;
    font-weight: var(--font-medium);
    color: #fff;
    margin-bottom: 1rem;
}

.card__body__content {
    margin-bottom: 1rem;
    line-height: 1.3;
}

.card__footer {
    margin-left: 1rem;
}

.card__footer .btn__group {
    margin-top: 0;
    width: max-content;
}

.section__image {
    width: max-content;
    margin-bottom: 2rem;
}

.skill__item {
    font-size: 1rem;
    font-weight: var(--font-regular);
    border: 1px solid var(--gray-soft);
    margin-bottom: 1rem;
}

.skills__designation {
    font-weight: var(--font-semibold);
    color: #fff;
    padding: 0.5rem 0.313rem;
}

.skills__list {
    border-top: 1px solid var(--gray-soft);
    padding: 0.5rem 0.313rem;
    line-height: 1.4;
}

.text__content {
    line-height: 1.625rem;
    font-size: 1rem;
    max-width: 515px;
}

.text__content p {
    margin-bottom: 1.625rem;
}

.text__content p:last-child {
    margin-bottom: 0.125rem;
}

.btn__about {
    margin-top: 1.688rem;
}

.section__image {
    display: none;
}

.contact__infos {
    border: 1px solid var(--gray-soft);
    padding: 1rem;
    width: max-content;
}

.contact__infos__title {
    color: #fff;
    font-weight: var(--font-semibold);
    margin-bottom: 1rem;
}

.contact__infos__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
}

.contact__infos__content div {
    display: flex;
    align-items: center;
}

.contact__infos__content img {
    opacity: 0.7;
    margin-right:  0.563rem;
    vertical-align: middle;
}

.contact__infos__content & {
    display: flex;
    align-items: center;
}

.contact__infos__content a:hover img {
    opacity: 1;
}

.contact__infos__content a:hover span {
    color: #fff;
}

footer {
    font-size: 1rem;
}

footer .container {
    padding: 2rem 0;
    margin-bottom: 0;
}

.footer__content {
    margin-bottom: 2rem;
}

.footer__contact {
    margin-bottom: 1rem;
}

.footer__logo img {
    width: 1rem;
    height: 1rem;
}

.footer__logo span {
    color: #fff;
    font-weight: var(--font-medium);
}

.footer__description {
    color: #fff;
}

.footer__description p {
    line-height: 1.4;
}

.footer__media {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.footer__media h4 {
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    font-weight: var(--font-medium);
    color: #fff;
}

.footer__media__icon {
    display: flex;
    gap: 0.688rem;
}

.footer__media__icon img {
    opacity: 0.7;
    width: 1.25rem;
    height: 1.25rem;
}

.footer__media__icon a:hover img {
    opacity: 1;
    transform: scale(1.3);
}

.copyright {
    font-size: 0.75rem;
    line-height: 0.938rem;
    text-align: center;
}

.copyright a {
    color: #fff;
}

.copyright a:hover {
    text-decoration: underline;
}

#about .section__image {
    position: relative;
}

.head__social {
    display: none;
}

.line__div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.line__dev .skills__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    border-top: 1px solid var(--gray-soft);
    padding: 0.5rem 0.313rem;
}

.fun__fact {
    flex-wrap: wrap;
}

.fact__item {
    border: 1px solid var(--gray-soft);
    text-wrap: wrap;
    padding: 8px;
}

@media screen and (min-width: 650px) {
    body {
        background-color: var(--bg-primary);
    }

    .container {
        background: var(--bg-secondary);
        margin: 0 min(7%, 171px);
    }

    .navbar {
        position: static;
        height: auto;
        opacity: 1;
        padding: 0;
        background: transparent;
    }

    .navbar__links {
        flex-direction: row;
        gap: 2rem;
        padding-right: 1rem;
        font-size: 1rem;
        float: right;
        padding-top: 0;
    }

    .sandwitch__btn,
    .navbar__social__media {
        display: none;
    }

    .language__selector__content {
        position: absolute;
        margin-top: 0.5rem;
        background: var(--bg-primary);
        border: 0.125rem solid var(--gray-soft);
        padding: 0.5rem;
        box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    }

    .hero__content .btn__group {
        display: inline-flex;
        gap: 0.438rem;
        flex-wrap: wrap;
    }

    .quotation {
        margin-bottom: 4.625rem;
    }

    .section__title {
        margin-bottom: 0.75rem;
    }

    #projects .section__title {
        margin-bottom: 3rem;
    }

    .section__btn__more span {
        display: initial;
    }
}

@media screen and (min-width: 690px) {
    .fact__item {
        text-wrap: nowrap;
    }
}

@media screen and (min-width: 750px) { /*650*/
    .hero {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .grid {        
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1.5rem;
    }

    #skill .section__image {
        display: block;
    }

    #skill .hide__image {
        display: none;
    }


    .section__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .section__fact {
        margin-right: 85px;
    }

    .line__div {
        flex-direction: row;
    }

    .skill__item {
        height: max-content;
    }

    .fun__fact {
        max-width: 610px;
    }

    .footer__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }

    .footer__media {
        margin-top: 0;
    }
}

@media screen and (min-width: 898px) {    
    #skill .hide__image {
        display: block;
    }
}

@media screen and (min-width: 900px) {
    .navbar {
        min-width: calc(64rem * 0.6);
    }

    .t_link a {
        position: relative;
    }

    .t_link a::before,
    .t_link a::after {
        opacity: 0;
        transition: all 0.3s ease;
        position: absolute;
    }

    .t_link a::before {
        content: '{';
        left: -20px;
        transform: translateX(5px);
    }

    .t_link a::after {
        content: '}';
        right: -20px; 
        transform: translateX(-5px);
    }

    .t_link:hover a::before {
        opacity: 1;
        left: -10px;
        transform: translateX(0);
    }

    .t_link:hover a::after {
        opacity: 1;
        right: -10px;
        transform: translateX(0);
    }

    .head__social {
        position: absolute;
        top: 0;
        left: 1.063rem;
        padding: 0 0.313rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
    }

    .head__media__bar {
        height: 11.938rem;
        width: 0.125rem;
        background: var(--gray-soft);
    }

    .head__media__icon {
        display: flex;
        flex-direction: column;
        gap: 0.875rem;
    }

    .head__media__icon img {
        width: 1.313rem;
        height: 1.313rem;
        opacity: 0.7;
        transition: opacity 150ms ease;
    }

    .head__media__icon a:hover img {
        transform: scale(1.3);
        opacity: 1;
        transition: transform 120ms ease;
    }
}

@media screen and (min-width: 1000px) {
    .container {
        margin: 0 min(10%, 10.688rem);
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .skills__layout {
        display: flex;
        gap: 1rem;
        max-width: 36.563rem;
    }

    .col {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .skill__item {
        margin-bottom: 0;
        max-width: 12.313rem;
    }

    .section__image {
        display: block;
    }
}

@media screen and (min-width: 1366px) {
    .container {
        margin: 0 auto;
    }
}

@media (prefers-reduced-motion: reduce) {
    .navbar, 
    .navbar__links,
    .navbar__social__media .social__media__icon,
    .social__media__icon img,
    .social__media__icon:hover,
    .head__media__icon img,
    .head__media__icon a:hover img,
    .language__selector__content { transition: none !important; }
}
