@import url('https://font.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

* {font-family: "Readex Pro"}

#yaba-louo-jean-de-dieu {
    font-size: 30px !important;
}

a {
    text-decoration: none !important;
    color: white !important;
    font-weight: 500 !important;
}

a:hover {
    color: #d33682 !important;
    text-decoration: none;
}

ul {list-style-type: none !important;}

hr {
    margin-top: 0px !important;
    margin-bottom: 5% !important;
}

.st-emotion-cache-1t3mybo h1,
.st-emotion-cache-1t3mybo h2,
.st-emotion-cache-1t3mybo h3,
.st-emotion-cache-1t3mybo h4,
.st-emotion-cache-1t3mybo h5,
.st-emotion-cache-1t3mybo h6 {
    padding: 0px !important;
}

#yaba-louo-jean-de-dieu {
    margin-bottom: 10px;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}